<h1>Admin Preferences</h1>
<p>Song creation is: <strong><%= @preference.create_songs_preference%></strong></p>
<p>Artist creation is: <strong><%= @preference.create_artists_preference %></strong></p>
